################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Exemplo1/obj
/.vs/DevInHouseWay2/v17
